In [ ]:
import pandas as pd
import random
import string

In [ ]:
def mask_column(df, column, prefix='Type_'):
    # Get unique non-null values from the column
    unique_vals = df[column].dropna().unique()
    
    # Create a mapping from original to masked values
    masked_map = {
        val: f"{prefix}{i}" for i, val in enumerate(unique_vals, start=1)
    }
    return df[column].map(masked_map)


def compare_column_distribution(df1, df2, column):
    print(f"{len(df1)/len(df2) * 100:.2f}")
    
    dist1 = df1[column].value_counts(normalize=True).sort_index().rename('df1_%')
    dist1_2 = df1[column].value_counts().sort_index().rename('df1_qty')
    dist2 = df2[column].value_counts(normalize=True).sort_index().rename('df2_%')
    dist2_2 = df2[column].value_counts().sort_index().rename('df2_qty')    
    
    comparison = pd.concat([dist1,dist1_2,dist2,dist2_2], axis=1).fillna(0)

    comparison['diff_%'] = (comparison['df1_%'] - comparison['df2_%']).round(4)
    comparison['diff_qty'] = (comparison['df1_qty'] / comparison['df2_qty']).round(4)
    
    comparison[['df1_%', 'df2_%', 'diff_%', 'diff_qty']] = (comparison[['df1_%', 'df2_%', 'diff_%', 'diff_qty']] * 100).round(2)

    return comparison.sort_values('df2_qty',ascending=False)

In [ ]:
df = pd.read_csv('Data/Orders.csv')
df_subclass = df[df.feature == 1].copy()

In [22]:
compare_column_distribution(df_subclass, df, 'Type')

11.74

         df1_%   df1_qty  df2_%  df2_qty  diff_%  diff_qty
Type_2   48.07  185132.0  46.94  1548713    1.13     11.95
Type_1   20.22   77882.0  21.60   712574   -1.38     10.93
Type_3   13.48   51904.0  13.60   448511   -0.12     11.57
Type_12   2.70   10392.0   2.66    87789    0.04     11.84
Type_13   2.30    8847.0   2.19    72312    0.11     12.23
Type_8    1.60    6143.0   1.66    54719   -0.06     11.23
Type_4    1.74    6687.0   1.64    54032    0.10     12.38
Type_14   0.00       0.0   1.54    50694   -1.54      0.00
Type_5    1.25    4820.0   1.33    43782   -0.08     11.01
Type_7    0.00       0.0   0.91    30144   -0.91      0.00
Type_15   1.13    4355.0   0.83    27309    0.30     15.95
Type_17   0.74    2842.0   0.73    23972    0.01     11.86
Type_10   0.00       0.0   0.72    23598   -0.72      0.00
Type_16   0.70    2713.0   0.65    21519    0.05     12.61
Type_23   0.45    1718.0   0.41    13459    0.04     12.76
Type_18   0.45    1751.0   0.40    13269    0.05     13.20
Type_6    0.29    1127.0   0.29     9501    0.00     11.86
Type_27   2.40    9234.0   0.28     9234    2.12    100.00
Type_21   0.00       0.0   0.19     6138   -0.19      0.00
Type_19   0.00       0.0   0.18     5830   -0.18      0.00
Type_22   0.21     822.0   0.16     5425    0.05     15.15
Type_20   0.13     482.0   0.13     4404   -0.01     10.94
Type_24   0.14     550.0   0.12     3956    0.02     13.90
Type_28   0.11     434.0   0.10     3321    0.01     13.07
Type_43   0.09     331.0   0.08     2575    0.01     12.85
Type_31   0.67    2564.0   0.08     2564    0.59    100.00
Type_36   0.07     285.0   0.08     2536   -0.00     11.24
Type_30   0.07     285.0   0.07     2423    0.00     11.76
Type_9    0.09     328.0   0.07     2398    0.01     13.68
Type_11   0.06     229.0   0.06     2000   -0.00     11.45
Type_34   0.05     192.0   0.05     1626    0.00     11.81
Type_38   0.37    1429.0   0.04     1429    0.33    100.00
Type_29   0.04     147.0   0.04     1170    0.00     12.56
Type_25   0.04     152.0   0.03     1062    0.01     14.31
Type_45   0.02      68.0   0.02      798   -0.01      8.52
Type_41   0.03     104.0   0.02      574    0.01     18.12
Type_32   0.02      59.0   0.02      573   -0.00     10.30
Type_37   0.02      66.0   0.02      497    0.00     13.28
Type_26   0.12     474.0   0.01      474    0.11    100.00
Type_40   0.02      78.0   0.01      472    0.01     16.53
Type_42   0.02      60.0   0.01      452    0.00     13.27
Type_46   0.01      49.0   0.01      380    0.00     12.89
Type_33   0.08     297.0   0.01      297    0.07    100.00
Type_44   0.01      28.0   0.01      231    0.00     12.12
Type_39   0.01      28.0   0.00      164    0.00     17.07
Type_47   0.00       3.0   0.00       38   -0.00      7.89
Type_35   0.01      29.0   0.00       29    0.01    100.00
Type_50   0.00       0.0   0.00       18   -0.00      0.00
Type_48   0.00       2.0   0.00       16    0.00     12.50
Type_49   0.00       0.0   0.00       11   -0.00      0.00
Type_51   0.00       1.0   0.00        3    0.00     33.33
Type_54   0.00       1.0   0.00        2    0.00     50.00
Type_52   0.00       0.0   0.00        2   -0.00      0.00
Type_53   0.00       0.0   0.00        2   -0.00      0.00
Type_55   0.00       0.0   0.00        1   -0.00      0.00